<div class="row align-items-center pt-4 card border rounded p-2 bg-purple pb-1">
  <div class="col-12 text-center text-white pb-2">
    <h1 class="title">Comercialização de Produtos</h1>
  </div>
  <div class="col-md-12 text-center">
    <p>Com o objetivo de promover a intregração digital a (nome da nossa empresa) comercializa os produtos com a maior
      qualidade no mercado nacional.
    </p>
  </div>
</div>
<div class="row mt-3">
  {{#each produtos}}
  <div class="col-lg-4 mb-4">
    <div class="card">
      <img src="{{this.imagem}}" alt="{{this.nome}}" class="card-img-top" style="height: 330px">
      <div class="card-body">
        <h5 class="card-title">{{this.nome}}</h5>
          <a href="/produtos/{{this._id}}" class="btn btn-outline-success btn-sm">Detalhes</a>
          <a href="/produtos/edit/{{this._id}}" class="btn btn-outline-primary btn-sm">Editar</a>
          <form action="/produtos/remove/{{this._id}}" class="d-inline" method="POST">
            <input type="submit" class="btn btn-outline-danger btn-sm" value="Excluir">
          </form>
      </div>
    </div>
  </div>
  {{/each}}
</div>